
// nextflow.config

process {
    executor = 'slurm'
    clusterOptions = ' --account=<your_account> '
    queueSize = 2000
    // Ensure the container is available to the compute nodes
    // You might need to specify a cache directory for singularity

    withLabel: cpu_light {
        cpus = 1
        memory = 1.GB
        time = '1m'
    }
    withLabel: cpu_medium {
        cpus = 2
        memory = 4.GB
        time = '10m'
    }
    withLabel: cpu_heavy {
        cpus = 8
        memory = 8.GB
        time = '10m'
    }
}

// Singularity container settings
singularity {
    enabled = true
    image = 'ghcr.io/afg1/plantrnafm_preprocessing:latest'
    autoMounts = true
    cacheDir = "${params.outdir}/singularity-cache"
}

// Parameters
params {
    input = 'input.csv'
    outdir = 'results'
}
