
// nextflow.config

process {
    executor = 'slurm'
    queueSize = 2000
    container = 'ghcr.io/afg1/plantrnafm_preprocessing:latest'


    withLabel: cpu_light {
        cpus = 1
        memory = 1.GB
        time = '1m'
    }
    withLabel: cpu_medium {
        cpus = 2
        memory = 4.GB
        time = '10m'
    }
    withLabel: cpu_heavy {
        cpus = 8
        memory = 8.GB
        time = '10m'
    }
}



// Parameters
params {
    input = 'input.csv'
    outdir = 'results'
}

// Singularity container settings
singularity {
    enabled = true
    image = 'ghcr.io/afg1/plantrnafm_preprocessing:latest'
    autoMounts = true
    cacheDir = "${params.outdir}/singularity-cache"
}
