
// nextflow.config

process {
    executor = 'slurm'
    clusterOptions = ' --account=<your_account> '
    // Ensure the container is available to the compute nodes
    // You might need to specify a cache directory for singularity
    // singularity.cacheDir = '/path/to/your/singularity/cache'
}

// Singularity container settings
singularity {
    enabled = true
    image = 'ghcr.io/afg1/plantrnafm_preprocessing:latest'
    autoMounts = true
}

// Parameters
params {
    input = 'input.csv'
    outdir = 'results'
}

// Define profiles for different execution environments
profiles {
    standard {
        process.executor = 'local'
        singularity.enabled = false
    }

    slurm {
        // Inherits the base slurm configuration
    }
}
